<table id="list"><thead><tr><th style="width:55%">>&nbsp; </th><th style="width:20%">&nbsp; </th></tr></thead>

<p>this section contains software like MS office and any other useful software</p>
<tbody>

<tr><td class="link"><a href="https://bit.ly/3B7nx8j">Office 365</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://officecdn.microsoft.com/db/492350F6-3A01-4F97-B9C0-C7C6DDF67D60/media/en-US/ProPlus2021Retail.img">Office 2021 Professional Plus</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://officecdn.microsoft.com/db/492350F6-3A01-4F97-B9C0-C7C6DDF67D60/media/en-US/ProPlus2019Retail.img">Office 2019 Professional Plus</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://officecdn.microsoft.com/db/492350F6-3A01-4F97-B9C0-C7C6DDF67D60/media/en-US/ProPlusRetail.img">Office 2016 Professional Plus</a></td><td class="size"></tr>
<tr><td class="link"><a href="https://officeredir.microsoft.com/r/rlidO15C2RMediaDownload?p1=db&p2=en-US&p3=ProfessionalRetail.img">Office 2013 Professional Plus</a></td><td class="size"></tr>

</tbody></table></body></html>